---

---
<section>
  <nav>
      <button type="submit">cadastrar novo cliente</button>
      <button type="submit">excluir cliente</button>
  </nav>

  <table>
    <tr>
      <th>Nome</th>
      <th>Observacao</th>
      <th>Vendas</th>
    </tr>
    
    
    
  </table>
</section>