---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<section>
      <nav>
        <ul>
          <li><a href="/">Painel</li>
          <li><a href="/vendas">Vendas</li>
          <li><a href="/clientes">Clientes</li>
          <li><a href="/estoque">Estoque</li>
        </ul>
      </nav>
      <section>
        <slot />
      </section>
    </section>
	</body>
</html>
